<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="componentBasedSystems.Activator"
               id="Component-Based-Systems-SiriusEditor"
	       name="Component-Based-Systems-SiriusEditor">
    </component>
  </extension>
</plugin>
